body {
    margin: 0;
    background-color: lightgray;
    padding-top: 50px;
    font-family: 'Smythe', cursive;
    position: relative;
} 

.main-container {
    width: 500px;
    background-color: #fff;
    margin: 0 auto;
}

header {
    background: url(img/ferks-guare-KEZdWfYD-ow-unsplash.jpg);
    height: 200px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    color: #fff;
    padding-left: 25px;
}

h1, .tagline, h3, .ingredients {
    margin: 0;
}

h1 {
    font-size: 39px;
}

.tagline {
    font-size: 22px;
}

h3 {
    font-size: 28px;
    font-weight: normal;
}

.ingredients {
    color: gray;
}

main {
    padding: 25px 50px;
    position: relative;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    border-bottom: 2px solid lightgray;
}

.menu-item-type {
    display: flex;
    align-items: center;
}

.icon {
    font-size: 75px;
}

button {
    padding: 10px;
    border-radius: 50%;
    border: 1px solid gray;
    background-color: transparent;

}

.cart {
    padding-top: 25px;
}

.menu-item-type {
    display: flex;
    justify-content: space-between;
}

.cart-details {
    display: flex;
}

.remove {
    border: none;
    font-size: 11px;
    color: grey;
}

.total-price {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    border-top: 4px solid gray;
    padding-top: 25px;
    padding-bottom: 50px;
}

#purchase-btn {
    border: none;
    padding: 15px;
    background-color: #16DB99;
    width: 100%;
    color: white;
    font-weight: bold;
    border-radius: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#purchase-btn:hover {
    cursor: pointer;
}

.modal-background {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: #75757571;
}

#modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 300px;
    height: 350px;
    background-color: #fff;
    box-shadow: 0px 0px 20px #858585;
}

.modal {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: none;
    padding: 25px;
}

.modal h3 {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;

}

.form input {
    margin-top: 25px;
    padding: 15px;
}
.form button {
    margin-top: 25px;
    border-radius: 0;
    background-color: #16DB99;
    color: #fff;
    border: none;
    font-weight: bold;
}

#thankYouContent {
    display: none;
    background-color: #ECFDF5;
    margin-top: 10px;
    padding: 15px 30px;
    text-align: center;
    color: #065F46;
}

/* utilities */

.display {
    display: block;
}

.display-none {
    display: none;
}
/*  */
